---
name: Go
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - '1.18.x'
          - '1.19.x'
          - '1.20.x'
          - '1.21.x'
          - '1.22.x'
          - '1.23.x'
          - '1.24.x'
          - '1.25.x'
        include:
          - go: 'stable'
            coverage: true
    name: Go ${{ matrix.go }} job
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

      - run: go version
      - name: Test
        run: make test

      - name: Coverage
        if: ${{ matrix.coverage }}
        run: make coverage

      - name: Upload coverage reports to Codecov
        if: ${{ matrix.coverage }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
